<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminCPLoginServlet</servlet-name>
        <servlet-class>admincp.controller.AdminCPLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>admincp.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>admincp.controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>admincp.controller.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>admincp.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryProcessServlet</servlet-name>
        <servlet-class>admincp.controller.CategoryProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>client.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>client.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>admincp.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientLogout</servlet-name>
        <servlet-class>client.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductClientServlet</servlet-name>
        <servlet-class>client.controller.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>client.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcess</servlet-name>
        <servlet-class>client.controller.CartProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>client.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>client.controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordAccountServlet</servlet-name>
        <servlet-class>client.controller.ChangePasswordAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputFeedBackServlet</servlet-name>
        <servlet-class>client.controller.InputFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptServlet</servlet-name>
        <servlet-class>admincp.controller.AcceptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>client.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCPLoginServlet</servlet-name>
        <url-pattern>/admincp/logincp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/admincp/product/addproduct/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/admincp/product/viewproduct/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/admincp/viewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/admincp/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryProcessServlet</servlet-name>
        <url-pattern>/admincp/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admincp/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductClientServlet</servlet-name>
        <url-pattern>/viewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcess</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordAccountServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputFeedBackServlet</servlet-name>
        <url-pattern>/inputfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptServlet</servlet-name>
        <url-pattern>/admincp/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>admincp/index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
    </jsp-config>
</web-app>
